# Gitignore alvin
/pembelajaran-mesin-env

# Gitignore Randy

**/archive.zip
archive.zip

**/AdienceBenchmarkGenderAndAgeClassification

/AdienceBenchmarkGenderAndAgeClassification

/.vscode

/model h5

**/cell_images

cell_images
